.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100px 300px 1fr 1fr;
  grid-template-areas: "logo logo"
                        "postagens menu"
                        "postagem menu"
                        "postagem filtros";
  grid-column-gap: 100px;
  height: 60vh;
}

.menu, .filtros, .postagens, .postagemFeed{
  display: flex;
  flex-direction: column;
}

.menu{
  grid-area: menu;
  grid-row: 2/2;
  margin-top: 100px;
  width: 430px;
  height: 301px;
  border-radius: 10px;
  background: var(--medium-brown);
  justify-content: space-around;
  margin-bottom: 27px;
  padding: 10px;
  box-shadow: 12px 15px 8px -9px var(--light-brown);
}

.saudacao{
  color: var(--light-white);
  width: 200px;
  margin: 0;
}

.convite{
  color: var(--light-white);
  width: 200px;
  margin: 0;
}

ul {
  list-style-image: url('../../images/saco-de-cafe.png');
  width: 300px;
  margin-left: 50px;
}

ul, li{
  width: fit-content;
}

a{
  font-size: 20px;
  font-family: 'Nunito Sans', sans-serif;
  transition: 0.3s ease-in-out;
}

a:hover{
  color: var(--intense-brown);
  font-size: 24px;
}

.logout{
  align-self: flex-end;
  background: var(--medium-brown);
  color: var(--light-white);
  transition: 0.3s ease-in-out;
}

.logout:hover{
  color: var(--medium-brown);
  background: var(--light-white);
}

.filtros{
  grid-area: filtros;
  grid-row: 2/2;
  margin-top: 800px;
  width: 430px;
  height: 301px;
  background: var(--grey);
  border-radius: 10px;
  box-shadow: 12px 15px 8px -9px var(--light-brown);
  padding: 10px;
  gap: 20px;
}

.fundo{
  position: relative;
  bottom: 30px;
  width: 200px;
  align-self: flex-end;
}

.postagens{
  grid-area: postagens;
  grid-row-start: 2;
  border-radius: 10px;
  box-shadow: 12px 15px 8px -9px var(--light-brown);
}

.inputMensagem {
  background: var(--grey);
  width: 500px;
  height: 180px;
  font-size: 20px;
  border-radius: 5px;
  border: none;
  resize: none;
  position: relative;
  padding: 10px;
}

::-webkit-input-placeholder{
  font-family: 'Nunito Sans', sans-serif;
  color: var(--light-white);
  padding: 10px;
}

.btnPostagem{
  width: 520px;
}

.btnPostagem:hover{
  background: var(--grey);
  color: var(--intense-brown);
}

.postagemFeed{
  margin-top: 8px;
  width: 520px;
  height: 56vh;
  border-radius: 10px;
  gap: 12px;
  overflow-y: scroll;
}

.conteudo{
  border-radius: 10px;
  /* border: 5px solid var(--light-brown); */
  min-height: 150px;
  max-height: 200px;
  width: 520px;
  box-shadow: 12px 15px 8px -9px var(--light-brown);
}

.logo{
  grid-area: logo;
}

@media (max-width: 500px){
  .container{
    display: flex;
    gap: 15px;
  }

  .fundo{
    display: none;
  }

  .filtros{
    width: 300px;
    height: 170px;
  }
  /* .filtros{
    width: 400px;
    height: 100px;
    gap: 0;
  } */
  a{
    font-size: 16px;
    font-family: 'Nunito Sans', sans-serif;
    transition: 0.3s ease-in-out;
  }
  
  a:hover{
    color: var(--intense-brown);
    font-size: 18px;
  }

  .menu{
    width: 400px;
    height: 100px;
    margin: 0;
  }


  ul{
    list-style: none;
  }

  .inputMensagem{
    width: 450px;
    height: 150px;
  }


}

